<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469935318256-s2sng7bs2t9f0t6vaa1e5m04ptmqpdjg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469935318256-s2sng7bs2t9f0t6vaa1e5m04ptmqpdjg</string>
	<key>API_KEY</key>
	<string>AIzaSyCdcnP0jlYwEwTXT-RHl_Ow0LpSvy1CC3w</string>
	<key>GCM_SENDER_ID</key>
	<string>469935318256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.goBlog</string>
	<key>PROJECT_ID</key>
	<string>go-blog-86d1c</string>
	<key>STORAGE_BUCKET</key>
	<string>go-blog-86d1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469935318256:ios:3853cd23375fedba150e35</string>
</dict>
</plist>